<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div style="text-align: center; margin-bottom: 20px;">
    <img src="assets/lancy.jpg" alt="Lancy Logo" style="width: 80px;">
  </div>

  <h2>Admin Login</h2>

  <label>Email Admin</label>
  <input type="email" formControlName="email" placeholder="admin@lancy.tn">

  <label>Mot de passe</label>
  <input type="password" formControlName="password" placeholder="••••••••">

  <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
</form>